/* line 14, main.scss */
body {
  background-color: #5e5f5f;
  color: #37c6f4;
}

/* line 19, main.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
}

/* line 23, main.scss */
.navbar-default {
  background-color: black;
  color: #37c6f4;
  border: none;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}
/* line 33, main.scss */
.navbar-default .container-fluid {
  background-color: black;
}
/* line 37, main.scss */
.navbar-default .container-fluid span.navbar-brand img {
  width: 100px;
  margin-top: -5px;
  margin-left: 37px;
  margin-right: -20px;
}
/* line 46, main.scss */
.navbar-default .container-fluid .navbar-nav li {
  margin-left: 90px;
}
/* line 48, main.scss */
.navbar-default .container-fluid .navbar-nav li a {
  color: #37c6f4;
}
/* line 53, main.scss */
.navbar-default .container-fluid .navbar-nav li:hover a {
  -webkit-animation: pulsate 800ms ease-out infinite alternate;
  -moz-animation: pulsate 800ms ease-out infinite alternate;
  -o-animation: pulsate 800ms ease-out infinite alternate;
  -ms-animation: pulsate 800ms ease-out infinite alternate;
  animation: pulsate 800ms ease-out infinite alternate;
}
/* line 62, main.scss */
.navbar-default .container-fluid .navbar-nav li.activated a {
  -webkit-animation: pulsate 800ms ease-out infinite alternate;
  -moz-animation: pulsate 800ms ease-out infinite alternate;
  -o-animation: pulsate 800ms ease-out infinite alternate;
  -ms-animation: pulsate 800ms ease-out infinite alternate;
  animation: pulsate 800ms ease-out infinite alternate;
}

@-webkit-keyframes glow {
  /* line 75, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 78, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-moz-keyframes glow {
  /* line 84, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 87, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-o-keyframes glow {
  /* line 93, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 96, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-ms-keyframes glow {
  /* line 102, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 105, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@keyframes glow {
  /* line 111, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 114, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-webkit-keyframes pulsate {
  /* line 120, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 123, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-moz-keyframes pulsate {
  /* line 129, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 132, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-o-keyframes pulsate {
  /* line 138, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 141, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-ms-keyframes pulsate {
  /* line 147, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 150, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@keyframes pulsate {
  /* line 156, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 159, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}
