/* line 15, main.scss */
.carousel-indicators li {
  border: 1px solid #37c6f4;
}
/* line 18, main.scss */
.carousel-indicators .active {
  background-color: #5e5f5f;
  border: 1px solid #37c6f4;
}

/* line 24, main.scss */
.carousel-control {
  color: #5e5f5f;
}

/* line 28, main.scss */
.carousel .left {
  text-shadow: -3px 0px #37c6f4;
}
/* line 32, main.scss */
.carousel .right {
  text-shadow: 3px 0px #37c6f4;
}

/* line 37, main.scss */
.carousel-control:hover, .carousel-control:focus {
  color: #5e5f5f;
}

/* line 41, main.scss */
.btn-primary {
  color: #37c6f4;
  background-color: black;
  border-color: black;
}

/* line 49, main.scss */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #37c6f4;
  background-color: black;
  border-color: black;
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto -moz-focus-ring-color;
  outline: 5px auto -o-focus-ring-color;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}

/* line 67, main.scss */
body {
  background-color: #5e5f5f;
  color: #37c6f4;
}

/* line 72, main.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
}

/* line 76, main.scss */
.navbar-default {
  background-color: black;
  color: #37c6f4;
  border: none;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}
/* line 86, main.scss */
.navbar-default .container-fluid {
  background-color: black;
}
/* line 90, main.scss */
.navbar-default .container-fluid span.navbar-brand img {
  width: 100px;
  margin-top: -5px;
  margin-left: 37px;
  margin-right: -20px;
}
/* line 99, main.scss */
.navbar-default .container-fluid .navbar-nav li {
  margin-left: 90px;
}
/* line 101, main.scss */
.navbar-default .container-fluid .navbar-nav li a {
  color: #37c6f4;
}
/* line 106, main.scss */
.navbar-default .container-fluid .navbar-nav li:hover a {
  -webkit-animation: pulsate 800ms ease-out infinite alternate;
  -moz-animation: pulsate 800ms ease-out infinite alternate;
  -o-animation: pulsate 800ms ease-out infinite alternate;
  -ms-animation: pulsate 800ms ease-out infinite alternate;
  animation: pulsate 800ms ease-out infinite alternate;
}
/* line 115, main.scss */
.navbar-default .container-fluid .navbar-nav li.activated a {
  -webkit-animation: pulsate 800ms ease-out infinite alternate;
  -moz-animation: pulsate 800ms ease-out infinite alternate;
  -o-animation: pulsate 800ms ease-out infinite alternate;
  -ms-animation: pulsate 800ms ease-out infinite alternate;
  animation: pulsate 800ms ease-out infinite alternate;
}

@-webkit-keyframes glow {
  /* line 128, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 131, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-moz-keyframes glow {
  /* line 137, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 140, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-o-keyframes glow {
  /* line 146, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 149, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-ms-keyframes glow {
  /* line 155, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 158, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@keyframes glow {
  /* line 164, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 167, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-webkit-keyframes pulsate {
  /* line 173, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 176, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-moz-keyframes pulsate {
  /* line 182, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 185, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-o-keyframes pulsate {
  /* line 191, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 194, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@-ms-keyframes pulsate {
  /* line 200, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 203, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

@keyframes pulsate {
  /* line 209, main.scss */
  0% {
    color: rgba(55, 198, 244, 0.2);
  }

  /* line 212, main.scss */
  100% {
    color: rgba(55, 198, 244, 0.6);
  }
}

/* line 218, main.scss */
.navbar-nav li {
  margin-left: 90px;
}
/* line 220, main.scss */
.navbar-nav li a {
  color: #37c6f4;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 227, main.scss */
.navbar-nav li:hover a {
  color: #5e5f5f;
}
/* line 232, main.scss */
.navbar-nav li.activated a {
  color: #5e5f5f;
}

/* line 238, main.scss */
.cart {
  padding-top: 8px;
  margin-bottom: 0px;
}

/* line 244, main.scss */
.button-selection {
  margin: 15px 0px;
}
/* line 247, main.scss */
.button-selection select {
  background-color: black;
  border: #37c6f4;
}

/* line 253, main.scss */
.shirt-image {
  width: 100%;
  border: 2px solid black;
}

/* line 258, main.scss */
#tshirt-modal-image {
  width: auto;
  height: 65%;
  border: 2px solid black;
}
