//Imports
@import "compass";
// @import "compass/reset";
@import "compass/css3/transition";
//Variables
$white: #ffffff;
$darkGrey: #5e5f5f;
$lightBlue: #37c6f4;
$pulsatingBlue: #10AFE2;
$black: #000000;
$grayedOut: #4D4747;
//Fonts

//Bootstrap overrides
.container {
	section {
		margin-bottom: 40px;
	}
}

.carousel-indicators {
	li {
		border: 1px solid $lightBlue;
	}
	.active {
		background-color: $darkGrey;
		border: 1px solid $lightBlue;
	}
}

.carousel-control {
	color: $darkGrey;
}
.carousel {
	.left {
		text-shadow: -3px 0px $lightBlue;
	}

	.right {
		text-shadow: 3px 0px $lightBlue;
	}
}

.carousel-control:hover, .carousel-control:focus {
	color: $darkGrey;
}

.btn-primary {
	color: $lightBlue;
	background-color: $black;
	border-color: $black;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	color: $lightBlue;
	background-color: $black;
	border-color: $black;

	outline-offset: -2px;
	outline: 5px auto -webkit-focus-ring-color;
	outline: 5px auto -moz-focus-ring-color;
	outline: 5px auto -o-focus-ring-color;

	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
}

//Styles
body {
	background-color: $darkGrey;
	color: $lightBlue;
}

h1, h2, h3, h4, h5 {
	font-family: 'Exo', sans-serif;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.loading-overlay {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000000;

	h1 {
		margin-top: 130px;
	}

	i {
		margin-top: 50px;
		font-size: 50px;
	}
}

.navbar-default {
	background-color: $black;
	color: $lightBlue;
	border: none;
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;

	.container-fluid {
		background-color: $black;

		span.navbar-brand {
			img {
				width: 100px;
				margin-top: -5px;
				margin-left: 37px;
				margin-right: -20px;
			}
		}

		.navbar-nav {
			li {
				margin-left: 90px;
				a {
					color: $lightBlue;
				}
			}
			li:hover { 
				a {
					-webkit-animation: pulsate 800ms ease-out infinite alternate;
					-moz-animation: pulsate 800ms ease-out infinite alternate;
					-o-animation: pulsate 800ms ease-out infinite alternate;
					-ms-animation: pulsate 800ms ease-out infinite alternate;
					animation: pulsate 800ms ease-out infinite alternate;
				}
			}
			li.activated { 
				a {
					cursor: not-allowed;
					pointer-events: none;
					-webkit-animation: pulsate 800ms ease-out infinite alternate;
					-moz-animation: pulsate 800ms ease-out infinite alternate;
					-o-animation: pulsate 800ms ease-out infinite alternate;
					-ms-animation: pulsate 800ms ease-out infinite alternate;
					animation: pulsate 800ms ease-out infinite alternate;
				}
			}
		}
	}
}
//Animations & Keyframes
@-webkit-keyframes glow {
    0% {
		box-shadow: 0 0 5px rgba(55, 198, 244, .2), inset 0 0 5px rgba(55, 198, 244, .1), 0 2px 0 #000;
    }	
    100% {
		box-shadow: 0 0 20px rgba(55, 198, 244, .6), inset 0 0 10px rgba(55, 198, 244, .4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
		box-shadow: 0 0 5px rgba(55, 198, 244, .2), inset 0 0 5px rgba(55, 198, 244, .1), 0 2px 0 #000;
    }	
    100% {
		box-shadow: 0 0 20px rgba(55, 198, 244, .6), inset 0 0 10px rgba(55, 198, 244, .4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(55, 198, 244, .2), inset 0 0 5px rgba(55, 198, 244, .1), 0 2px 0 #000;
    }	
    100% {
		box-shadow: 0 0 20px rgba(55, 198, 244, .6), inset 0 0 10px rgba(55, 198, 244, .4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
		box-shadow: 0 0 5px rgba(55, 198, 244, .2), inset 0 0 5px rgba(55, 198, 244, .1), 0 2px 0 #000;
    }	
    100% {
		box-shadow: 0 0 20px rgba(55, 198, 244, .6), inset 0 0 10px rgba(55, 198, 244, .4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
		box-shadow: 0 0 5px rgba(55, 198, 244, .2), inset 0 0 5px rgba(55, 198, 244, .1), 0 2px 0 #000;
    }	
    100% {
		box-shadow: 0 0 20px rgba(55, 198, 244, .6), inset 0 0 10px rgba(55, 198, 244, .4), 0 2px 0 #000;
    }
}

@-webkit-keyframes pulsate {
    0% {
		color: rgba(55, 198, 244, .2);
    }	
    100% {
		color: rgba(55, 198, 244, .6);
    }
}

@-moz-keyframes pulsate {
    0% {
		color: rgba(55, 198, 244, .2);
    }	
    100% {
		color: rgba(55, 198, 244, .6);
    }
}

@-o-keyframes pulsate {
	0% {
		color: rgba(55, 198, 244, .2);
    }	
    100% {
		color: rgba(55, 198, 244, .6);
    }
}

@-ms-keyframes pulsate {
    0% {
		color: rgba(55, 198, 244, .2);
    }	
    100% {
		color: rgba(55, 198, 244, .6);
    }
}

@keyframes pulsate {
    0% {
		color: rgba(55, 198, 244, .2);
    }	
    100% {
		color: rgba(55, 198, 244, .6);
    }
}
.navbar {
	margin-bottom: 40px;
}

.navbar-nav {
	li {
		margin-left: 90px;
		a {
			color: $lightBlue;
			@include transition-property(color);
			@include transition-duration(1s);
		}
	}
	li:hover { 
		a {
			color: $darkGrey;
		}
	}
	li.activated { 
		a {
			color: $darkGrey;
		}
	}
}

.cart {
	padding-top: 8px;
	margin-bottom: 0px;
}


.button-selection {
	margin: 15px 0px;

	select {
		background-color: $black;
		border: $lightBlue;
	}
}
//t-shirt image styles
.shirt-image {
	width: 100%;
	border: 2px solid $black;
}

.tshirt-modal-image {
	width: 100%;
	height: auto;
	border: 2px solid $black;
}

.view-more {
	background-color: white;
	height: 100%;
	width: 92%;
	position: absolute;
	top: 0px;
	opacity: 0.4;
	cursor: pointer;

	.fa-search {
		font-size: 30px;
		vertical-align: middle;
		line-height: 227px;
		text-align: center;
		width: 100%;
		color: $black;
	}
}

//Apparel specific styles
#apparel {
	.row + .row {
		margin-top: 40px;
	}
}

//modal specific styles
.modal-dialog {
	.carousel-control.right, .carousel-control.left {
		background-image: none;
	}
}

#tshirt-modal {
	.modal-content {
		background-color: $black;
		width: 100%;
	}
}
//pagination styles
.pagination > li > a {
	background-color: $black;
	color: $lightBlue;
	border: $black;
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
}

.pagination {
	li  {
		a:hover {
			background-color: #2D2B2B;
		}
		a:focus {
			background-color: $black;
		}
	}
	.disabled {
		a {
			background-color: $grayedOut;
			pointer-events: none;
		}
		a:focus {
			background-color: $grayedOut;
		}
	}
	.active {
		a {
			color: $pulsatingBlue;
			background-color: $black;
			pointer-events: none;
		}
		a:focus {
			background-color: $black;
			color: $pulsatingBlue;
		}
	}
}
