/* line 15, main.scss */
.carousel-indicators li {
  border: 1px solid #37c6f4;
}
/* line 18, main.scss */
.carousel-indicators .active {
  background-color: #5e5f5f;
  border: 1px solid #37c6f4;
}

/* line 24, main.scss */
.carousel-control {
  color: #5e5f5f;
}

/* line 28, main.scss */
.carousel .left {
  text-shadow: -3px 0px #37c6f4;
}
/* line 32, main.scss */
.carousel .right {
  text-shadow: 3px 0px #37c6f4;
}

/* line 37, main.scss */
.carousel-control:hover, .carousel-control:focus {
  color: #5e5f5f;
}

/* line 41, main.scss */
.btn-primary {
  color: #37c6f4;
  background-color: black;
  border-color: black;
}

/* line 49, main.scss */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #37c6f4;
  background-color: black;
  border-color: black;
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto -moz-focus-ring-color;
  outline: 5px auto -o-focus-ring-color;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}

/* line 67, main.scss */
body {
  background-color: #5e5f5f;
  color: #37c6f4;
}

/* line 72, main.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
}

@-webkit-keyframes glow {
  /* line 77, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 80, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-moz-keyframes glow {
  /* line 86, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 89, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-o-keyframes glow {
  /* line 95, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 98, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@-ms-keyframes glow {
  /* line 103, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 106, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

@keyframes glow {
  /* line 112, main.scss */
  0% {
    box-shadow: 0 0 5px rgba(55, 198, 244, 0.2), inset 0 0 5px rgba(55, 198, 244, 0.1), 0 2px 0 black;
  }

  /* line 115, main.scss */
  100% {
    box-shadow: 0 0 20px rgba(55, 198, 244, 0.6), inset 0 0 10px rgba(55, 198, 244, 0.4), 0 2px 0 black;
  }
}

/* line 120, main.scss */
.navbar-default {
  background-color: black;
  color: #37c6f4;
  border: none;
  box-shadow: 0px 3px 10px #37c6f4;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}
/* line 132, main.scss */
.navbar-default .container-fluid {
  background-color: black;
}
/* line 136, main.scss */
.navbar-default .container-fluid span.navbar-brand img {
  width: 100px;
  margin-top: -5px;
  margin-left: 37px;
  margin-right: -20px;
}
/* line 145, main.scss */
.navbar-default .container-fluid .navbar-nav li {
  margin-left: 90px;
}
/* line 147, main.scss */
.navbar-default .container-fluid .navbar-nav li a {
  color: #37c6f4;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 154, main.scss */
.navbar-default .container-fluid .navbar-nav li:hover a {
  color: #5e5f5f;
}
/* line 159, main.scss */
.navbar-default .container-fluid .navbar-nav li.activated a {
  color: #5e5f5f;
}

/* line 166, main.scss */
.cart {
  padding-top: 8px;
  margin-bottom: 0px;
}

/* line 172, main.scss */
.button-selection {
  margin: 15px 0px;
}
/* line 175, main.scss */
.button-selection select {
  background-color: black;
  border: #37c6f4;
}

/* line 181, main.scss */
.shirt-image {
  width: 100%;
  border: 2px solid black;
}

/* line 186, main.scss */
#tshirt-modal-image {
  width: auto;
  height: 65%;
  border: 2px solid black;
}
